<div id="header-mobile">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="http://nidoo.com.co/">Nidoo</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="https://nidoo.com.co/#buscatunidoo">BUSCA TU PARQUEADERO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://www.blog.nidoo.co/">BLOG</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="https://nidoo.com.co/#/ofrecetunidoo">OFRECE TU PARQUEADERO</a>
                </li>
            </ul>
        </div>
    </nav>
</div>
<div id="header-top">
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="tel:+573107773576"><i class="fa fa-mobile fa-fw" aria-hidden="true"></i> +57 310 777 3576</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="mailto:info@nidoo.la"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i> info@nidoo.la</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3 col-lg-3">
                <a href="http://nidoo.com.co/">
                    <img class="img-responsive" src="assets/images/logo.svg" alt="Nidoo">
                </a>
            </div>
            <div class="col-md-9 col-lg-9">
                <ul class="nav justify-content-end">
                    <li class="nav-item">
                        <a class="nav-link" href="https://nidoo.com.co/#buscatunidoo">BUSCA TU PARQUEADERO</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="https://www.blog.nidoo.co/">BLOG</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="https://nidoo.com.co/#/ofrecetunidoo">OFRECE TU PARQUEADERO</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="section-classified">
    <div class="container">
        <app-loading></app-loading>
    </div>
</div>
<div id="footer">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <a href="http://nidoo.com.co/">
                    <img class="img-responsive" src="assets/images/logo.svg" alt="Nidoo">
                </a>
            </div>
            <div class="col">
                <div class="social">
                    <ul class="nav justify-content-end">
                        <li class="nav-item">
                            <a target="_get" class="nav-link" href="http://www.facebook.com/nidooco/">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a target="_get" class="nav-link" href="http://twitter.com/nidooLA">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a target="_get" class="nav-link" href="http://www.instagram.com/nidoola/">
                                <span class="fa-stack fa-2x">
                                    <i class="fa fa-circle fa-stack-2x"></i>
                                    <i class="fa fa-instagram fa-stack-1x fa-inverse"></i>
                                </span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                <p class="text-center copyright">
                    Copyright NIDOO &copy; 2017. Todos los derechos reservados.
                </p>
            </div>
        </div>
    </div>
</div>

